.Store {
	display: flex;
	height: 100vh;
	flex-direction: column;
	background-color:#f1f4fd;
}


.pageStore {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: fit-content;
	min-height: 87.5vh;
	width: inherit;
}

.maintenceText {
	font-family: 'FuturaHv';
	font-size: 3em;
	margin-top: 15vh;
	margin-bottom: 0;
	color: #292E56;
}

.animation {
	height: auto;
	width: 40vw;
}

@media (max-width: 768px) {
	.maintenceText {
		margin-top: 10vh;
		font-size: 2.5em;
	}

	.animation {
		margin-top: 5vh;
		width: 100vw;
	}

	.pageStore {
		margin-top: 8vh;
	}
}

@font-face {
	font-family: 'FuturaHv';
	src: url('../../assets/fonts/futura-heavy.ttf');
}