.Store {
	display: flex;
	height: fit-content;
  min-height: 100vh;
	flex-direction: column;
	background-color:#f1f4fd;
}


.pageStore {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: fit-content;
	min-height: 87.5vh;
	width: inherit;
}

.maintenceText {
	font-family: 'FuturaHv';
	font-size: 3em;
	margin-top: 15vh;
	margin-bottom: 0;
	color: #292E56;
}

.animation {
	height: auto;
	width: 40vw;
}

.stickyYoutube {
	position: fixed;
	top: 20vh;
	right: 4vw;
	height: fit-content;
	width: fit-content;
	border-radius: 20px;
	background-color: #F44336;
}

.stickyYoutube a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-family: 'FuturaHv';
	padding: 5px 30px 5px 10px;
	color: #f1f4fd;
}

.stickyYoutube a text {
	text-align: center;
	margin-left: 10px;
}

.stickyYoutubeCellphone {
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: 75px;
	width: 75px;
	border-radius: 50%;
	background-color: #F44336;
	z-index: 30;
}

.stickyYoutubeCellphone a {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-family: 'FuturaHv';
	padding: 5px 30px 5px 10px;
	color: #f1f4fd;
}

@media (max-width: 768px) {
	.maintenceText {
		margin-top: 10vh;
		font-size: 2.5em;
	}

	.animation {
		margin-top: 5vh;
		width: 100vw;
	}

	.pageStore {
		margin-top: 8vh;
	}

	.stickyYoutubeCellphone a {
		padding: 5px;
	}

	.stickyYoutubeCellphone a text {
		display: none;
	}

}

@font-face {
	font-family: 'FuturaHv';
	src: url('../../assets/fonts/futura-heavy.ttf');
}