.container {
	display: flex;
	flex: 1;
	width: 100vw;
	flex-direction: column;
	background-color:#F1F4FD;
}

.page {
	height: 87.5vh;
	width: 100vw;
}

.pageFlex {
	display: flex;
	width: 100vw;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: 87.5vh;
}

.pageProject {
	display: flex;
	height: inherit;
	width: 100vw;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #292E56;
	height: 87.5vh;
}

.bigCard {
	display: flex;
	width: 50vw;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	background-color:#F1F4FD;
	box-shadow: 0px 8px 24px rgba(50, 50, 71, 0.2), 0px 6px 12px rgba(50, 50, 71, 0.2);
	height: 32vw;
}

.bigCardImg {
	width: 80%;
	height: auto;
	max-height: 90%;
}

.smallCardsView {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	margin-left: 5vw;
	width: 20vw;
	height: 32vw;
}

.smallCard {
	min-width: 140px;
	min-height: 140px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 60px;
	box-shadow: 0px 8px 24px rgba(50, 50, 71, 0.2), 0px 6px 12px rgba(50, 50, 71, 0.2);
	width: 13.5vw;
	height: 13.5vw;
}

.smallCardText {
	font-family: 'FuturaHv';
	font-size: 1.8vw;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #292E56;
}

#smallCardNumber {
	font-size: 3em;
	margin-top: 3vh;
}

.blackCard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding: 5vh;
	border-radius: 60px;
	box-shadow: -2px -4px 12px rgba(255, 255, 255, 0.05), 2px 4px 18px rgba(0, 0, 0, 0.25), inset -2px -4px 6px rgba(0, 0, 0, 0.3), inset 2px 4px 6px rgba(255, 255, 255, 0.05);
	margin-left: 5vw;
	margin-right: 5vw;
	width: 25vw;
	height: 32vw;
}

.projectTitle {
	font-family: 'FuturaHv';
	color: #292E56;
}

.doneTitle {
	font-family: 'FuturaHv';
	font-size: 2.25em;
	color: #F1F4FD;
}

.projectTopView {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 9vh;
}

.projectTopView2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.projectBottomView {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
}

.projectImg {
	max-width: 80%;
	height: auto;
}

.carousel .slide {
	display: flex;
	height: 75vh;
	align-items: center;
	justify-content: center;
	background-color: #292E56;
}

.carousel .control-dots {
	padding-right: 3vw;
}

.carouselSlideView {
	display: flex;
	flex-direction: row;
}

.blackCardTitle {
	font-family: 'FuturaHv';
	text-justify: distribute;
	color: #F1F4FD;
}

.blackCardText {
	font-family: 'Roboto';
	text-align: justify;
	white-space: inherit;
	text-overflow: ellipsis;
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
	word-wrap: break-word;
	hyphens: auto;
	color: #F1F4FD;
}

.break {
	display: flex;
	height: 0;
	flex-basis: 100%;
}

.btn {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	z-index: 45;
}

body {
	overflow-x: hidden;
}

footer {
	margin-top: auto;
}

*:focus {
	outline: none;
}

@media screen and (max-width: 767px) {
	.pageFlex {
		flex-direction: column;
	}

	.bigCard {
		height: 35vh;
		width: 80vw;
		border-radius: 30px;
	}

	.bigCardImg {
		width: 75vw;
	}

	.smallCardsView {
		flex-direction: row;
		margin-top: 7vh;
		width: 80vw;
		height: 20vh;
		margin-left: 0;
	}

	.smallCard {
		border-radius: 30px;
	}

	.smallCardText {
		color: #292E56;
		font-size: 1.2em;
	}

	#smallCardNumber {
		font-size: 2em;
		margin-top: 2vh;
	}

	.blackCard {
		width: 75vw;
		height: 110vw;
	}

	.blackCardTitle {
		font-size: 1.5em;
	}

	.doneTitle {
		font-size: 2em;
	}
}


@font-face {
	font-family: 'FuturaHv';
	src: url('../../assets/fonts/futura-heavy.ttf');
}