.headerView {
    display: flex;
    align-items: center;
    background-color: #F1F4FD;
}

.headerBtn {
    margin-left: 100px;
}

.headerRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.textBtn {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'FuturaHv';
}

@font-face {
    font-family: 'FuturaHv';
    src: url('../../assets/fonts/futura-heavy.ttf');
}