.pageFooter {
  height: 87.5vh;
  width: 100vw;
}

.contactTopView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
}

.contactTitle {
  font-family: 'FuturaHv';
  font-size: 2.8em;
  color: #F1F4FD;
}

.contactBottomView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75vh;
}

.contactBottomLeftView {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 80%;
  width: 35vw;
  margin-right: 5vw;
}

.contactSubtitleText {
  font-family: 'FuturaHv';
  font-size: 4vh;
  color: #F1F4FD;
  margin-top: 0px;
  margin-bottom: 0px;
}

.contactSubtitleView {
  height: 15%;
  width: 100%;
}

.contactEmailInput {
  height: 7%;
  width: 90%;
  resize: none;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  border-width: 0;
  border-radius: 20px;
}

.contactMessageInput {
  display: flex;
  vertical-align: top;
  height: 40%;
  width: 90%;
  resize: none;
  padding: 5%;
  border-width: 0;
  border-radius: 20px;
}

.contactSendButton {
    height: 10%;
    width: 30%;
    font-family: 'FuturaHv';
    font-size: 2.2vh;
    color: #F1F4FD;
    cursor: pointer;
    background-color: #344EA9;
    margin-top: 5%;
    border-width: 0;
    border-radius: 20px;
}

.contactBottomRightView {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 35vw;
}

.contactBottomRightText {
  font-family: 'FuturaHv';
  font-size: 2vh;
  color: #F1F4FD;
  margin-top: 0px;
  margin-bottom: 0px;
}

.corner-wrapper {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  transform: translateZ(0px);
  border: 0px solid #eee;
}

.socialMediaFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 2vh;
  width: 100%;
}

.socialMediaFooterIcon {
  height: 32px;
  width: auto;
  color: #f1f4fd;
}

#instagram {
  margin-right: 2%;
}

#facebook {
  margin-left: 0;
}

@media (max-width: 768px) {
  .contactBottomView {
    flex-direction: column;
  }

  .contactBottomLeftView {
    height: 80%;
    width: 80%;
    margin-right: 0;
  }

  .contactBottomRightView {
    align-items: center;
    justify-content: flex-end;
    height: 20%;
    width: 80%;
    margin-bottom: 2%;
  }

  .contactSendButton {
    height: 10%;
    border-radius: 40px;
  }

  .contactTitle {
    font-size: 2em;
  }

  .contactSubtitleView {
    margin-top: 5%;
    margin-bottom: 1%;
    height: 10%;
  }

  .contactSubtitleText {
    font-size: 3.5vh;
  }

  .contactEmailInput {
    height: 7%;
    padding-top: 3%;
  }

  .corner-wrapper {
    display: none;
  }

  .socialMediaFooter {
    justify-content: center;
  }

  #facebook {
    margin-left: 2%;
  }
}